* {
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: red;
}
html {
  font-size: 62.5%;
}

.header {
  background: url(../images/Waxom-Hemepage.png) no-repeat center center;
  background-size: cover;
  width: 100vw;
  /* display: flex; */
  position: relative;
  padding-top: 38rem;
  padding-bottom: 38rem;
  z-index: -1;
}
.container--center {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 1;
}
.logo {
  width: 18rem;
  height: 5.6rem;
  margin-right: 20.2rem;
}
.nav {
  /* display: flex; */
  padding: 4rem 3rem;
}
.nav__list {
  display: flex;
  padding: 1.5rem 0;
  margin-bottom: 0;
}
.nav__item {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0 1.2rem;
}
.nav__item:first-child {
  padding-left: 0;
}
.nav__item:last-child {
  padding-right: 0;
}
.nav__link {
  color: white;
}
.nav__link:hover {
  color: #c7b299;
  text-decoration: none;
}
.nav__icon {
  margin-left: 3rem;
  display: flex;
}
.nav__cart,
.nav__search {
  font-size: 1.6rem;
  color: white;
  margin: 1.5rem 1.2rem;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__design,
.content__template,
.content__detail,
.content__btn {
  color: white;
  display: flex;
  justify-content: center;
}
.content__design {
  font-size: 3.6rem;
}
.content__template {
  font-size: 5.2rem;
}
.content__detail {
  font-size: 1.6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.content__btn {
  background: #998675;
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  border: 1px solid #998675;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.slide .slick-dots li button:before {
  top: -8.2rem;
  opacity: 0.7;
  color: #ffffff;
}
.slide .slick-dots li.slick-active button:before {
  color: black;
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin-top: 5px;
}
.slide .slick-prev {
  left: 17rem;
  z-index: 1;
}
.slide .slick-next {
  right: 17rem;
}
